<?xml version="1.0"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.codeprose.komanduri"
    versionCode="100"
    version="0.1.43">

  <name>EndoscopyNow</name>

  <description>
    Endoscopic Procedure Reference
  </description>

  <author href="http://www.thecodeprose.com">
    CodeProse, LLC
  </author>

  <preference name="phonegap-version" value="3.6.3" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="handset" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="permissions" value="none"/>

  <preference name="MediaPlayerRequiresUserAction" value="false" />
  <preference name="AllowInlineMediaPlayback" value="true" />
  <preference name="OpenAllWhitelistURLsInWebView" value="true" />

  <preference name="StatusBarOverlaysWebView" value="false" />

  <access origin="*" />

  <!-- Android icons -->
  <icon src="icon.png"  gap:platform="android" gap:density="ldpi" />
  <icon src="icon.png"  gap:platform="android" gap:density="mdpi" />
  <icon src="icon.png"  gap:platform="android" gap:density="hdpi" />
  <icon src="icon.png"  gap:platform="android" gap:density="xhdpi" />

  <!-- iPhone icons -->
  <icon src="res/icon/ios/icon-57.png"  gap:platform="ios" width="57" height="57" />
  <icon src="res/icon/ios/icon-57-2x.png"  gap:platform="ios" width="114" height="114" />
  <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />

  <!-- Android splashes -->
  <gap:splash src="splash.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="splash.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="splash.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi" />

  <!-- iPhone splashes -->
  <gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1004" />
  <gap:splash src="res/screen/ios/screen-ipad-portrait-2x.png" gap:platform="ios" width="1536" height="2008" />
  <gap:splash src="res/screen/ios/screen-iphone-portrait-568h.png" gap:platform="ios" width="320" height="568" />
  <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />

  <!-- plugins -->
  <!--<gap:plugin name="com.kernix.pdfviewer" version="1.1.0" source="pgb" />-->
  <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" source="pgb" />
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" source="pgb" />
</widget>
