.context-header {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.card-footer {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;    
}

.card-footer > * {
    display: inline;
    width: 33%;
}

.quadrant-image {
    max-width: 95%;
}

.quadrant-tile-title {
    color: black;
    background-color: white;
    border-color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-shadow: none;
    
    padding: 1px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.blueimp-gallery > .myscope-like-dislike {
    position: absolute;
    top: 30px;
    left: 15px;
    color: white;
    opacity: 0.5;
    display: none;
}

.blueimp-gallery > .myscope-like-dislike:hover {
    color: white;
    opacity: 1;
}

.blueimp-gallery-controls > .myscope-like-dislike {
    display: block;
}

.homepage-subheader {
    margin-top: 2px;
    margin-bottom: 2px;
}