<div data-options="dxView: { name: 'quadrant', title: 'Quadrant' }">
    <div id="quadrant-tile-container">
        <div data-bind="quadrant-tile: { title: 'Videos', image: 'img/play-button-original.png', action: '#videos/' + id }"></div>
        <div data-bind="quadrant-tile: { title: 'Images', image: 'img/images-button-original.png', action: '#images/' + id }"></div>
        <div data-bind="quadrant-tile: { title: 'Guidelines', image: 'img/ppt-button-original.png', action: '#guidelines/' + id }"></div>
        <div data-bind="quadrant-tile: { title: 'References', image: 'img/references-button-original.png', action: '#guidelines/' + id }"></div>        
    </div>
</div>