@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-dislike:before {
	content: "\e000";
}
.flaticon-framework:before {
	content: "\e001";
}
.flaticon-image58:before {
	content: "\e002";
}
.flaticon-image59:before {
	content: "\e003";
}
.flaticon-images10:before {
	content: "\e004";
}
.flaticon-images11:before {
	content: "\e005";
}
.flaticon-like3:before {
	content: "\e006";
}
.flaticon-open12:before {
	content: "\e007";
}
.flaticon-powerpoint2:before {
	content: "\e008";
}
.flaticon-youtube12:before {
	content: "\e009";
}
.flaticon-youtube17:before {
	content: "\e00a";
}
