<div id="#videos-view" data-options="dxView: { name: 'videos', title: 'Videos' }">
    <div class="category-header-container">
        <div class="category-header" data-bind="text: 'Videos', attr: { style: 'background-color: ' + 'gray' + ';' }"></div>        
    </div>
    <div class="carousel-container-container">
        <div class="carousel-container">
            <div id="video-carousel" class="m-carousel m-center m-scaled m-fade-out">
                <div class="m-carousel-inner">
                    <!-- ko foreach: videos -->
                    <div class="m-item">
                        <div data-bind="video-card: $data"></div>
                    </div>
                    <!-- /ko -->              
                </div>
            </div>        
        </div>        
    </div>
</div>