<div data-options="dxView: { name: 'home', title: 'Home' }">
    <div class="dx-full-height" data-bind="category-container: { categories: [
            { category: 'Esophagus', color: 'red', action: '#category/0' },
            { category: 'Stomach', color: 'orange', action: '#category/1' },
            { category: 'Small Intestine', color: 'yellow', action: '#category/2' },
            { category: 'Colon', color: 'green', action: '#category/3' },
            { category: 'Biliary', color: 'blue', action: '#category/4' },
            { category: 'Pancreas', color: 'purple', action: '#category/5' }] }, container-options: { 'full-height': true }">
    </div>
</div>