<div data-options="dxView: { name: 'guidelines', title: 'Guidelines' }" style="height: 100%">
    <div class="category-header-container">
        <div class="category-header" data-bind="text: 'Guidelines', attr: { style: 'background-color: ' + 'gray' + ';' }"></div>        
    </div>
    <div class="carousel-container-container">
        <div class="carousel-container">
            <div id="guidelines-carousel" class="m-carousel m-center m-scaled m-fade-out">
                <div class="m-carousel-inner">
                    <!-- ko foreach: guidelines -->
                    <div class="m-item">
                        <div data-bind="guidelines-card: $data"></div>
                    </div>
                    <!-- /ko -->              
                </div>
            </div>        
        </div>        
    </div>
</div>