.category-tile {
    width: 50%;
    float: left;
    background-color: transparent;
}

.category-tile-content {
    width: auto;
    border: 3px solid black;
    margin: 4px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.category-tile-header {
    background-color: darkgray;
}

.category-tile-header-text {
    float: right;
}